<div class= "grid">

    <div class="grid-item" id="item1">

        <h1>{{movie.Title}}</h1> <br>
        <b>Sinopsis:</b> {{movie.Plot}} <br>
        <b>Año:</b> {{movie.Year}} <br>
        <b>Duración:</b> {{movie.Runtime}} <br>
        <b>Géneros:</b>  {{movie.Genre}} <br>
        <b>Director:</b> {{movie.Director}} <br>
        <b>Actores principales:</b> {{movie.Actors}} <br>
        <b>Premios:</b> {{movie.Awards}} <br><br>        

        <div *ngIf="movie.Available == true; else elseBlock"><a routerLink='/reservar/{{movie.Id}}'>
            <button (click)="onSelect(movie)">Reservar</button>
        </a></div>
        <ng-template #elseBlock><button>No disponible</button></ng-template>

    </div>

    <div class="grid-item" id="item2">
        <img id="poster" src='{{movie.Poster}}'>
    </div>

    <div class="grid-item" id="item3">
        <img class="screenie" src='{{movie.Images[0]}}'>
    </div>

    <div class="grid-item" id="item4">
        <img class="screenie" src='{{movie.Images[1]}}'>
    </div>

    <div class="grid-item" id="item5">
        <img class="screenie" src='{{movie.Images[2]}}'>
    </div>

    <div class="grid-item" id="item6">
        <img class="screenie" src='{{movie.Images[3]}}'>
    </div>

    <div class="grid-item" id="item7">
        <img class="screenie" src='{{movie.Images[4]}}'>
    </div>

</div>