<div class= "grid">

    <div class="grid-item" id="item1">

        <h1>{{movie.Title}}</h1> <br>
        Sinopsis: {{movie.Plot}} <br>
        Año: {{movie.Year}} <br>
        Duración: {{movie.Runtime}} <br>
        Géneros:  {{movie.Genre}} <br>
        Director: {{movie.Director}} <br>
        Actores principales: {{movie.Actors}} <br>
        Premios: {{movie.Awards}}

    </div>

    <div class="grid-item" id="item2">
        <img id="poster" src='{{movie.Poster}}'>
    </div>

    <div class="grid-item" id="item3">
        <img class="screenie" src='{{movie.Images[0]}}'>
    </div>

    <div class="grid-item" id="item4">
        <img class="screenie" src='{{movie.Images[1]}}'>
    </div>

    <div class="grid-item" id="item5">
        <img class="screenie" src='{{movie.Images[2]}}'>
    </div>

    <div class="grid-item" id="item6">
        <img class="screenie" src='{{movie.Images[3]}}'>
    </div>

    <div class="grid-item" id="item7">
        <img class="screenie" src='{{movie.Images[4]}}'>
    </div>

</div>